body {
  background-color: white;
}

.glimmers {
  text-align: center;
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Permanent Marker', cursive;
  color: #B9E5CC;
  font-size: 3em;
  text-shadow: 2px 2px black;
}
/*To format code boxes*/
pre {
    box-sizing: border-box;
    border: 1px solid #E3EDF3;
    padding: 10px;
    font-size: .9em;
    white-space: pre;
    border-radius: 3px;
    background-color: #F7FAFB;
    font-family: Inconsolata,monospace,sans-serif;
}

/*To format inline code box*/
p > code {
  font-family: Inconsolata,monospace,sans-serif;
  border:1px solid #E3EDF3;
  border-radius: 2px;
  background: #F7FAFB;
  color: crimson
}

html h1 {
  font-size: 8vw;
}

.pagination_emerson {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

p > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.pagination_emerson a {
  text-decoration: none;
  color: #B9E5CC;
}

.pagination_emerson a:hover {
  text-decoration: none;
  color: pink;
}

.wrapper_emerson {
  clear: both;
  display: block;
}

.post_posttitle_emerson {
  color: pink;
  margin-top: 0px;
  margin-bottom: 0.2em;
  font-size: 9vw;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
}

.index_posttitle_emerson a:hover{
  color:  #B9E5CC;
}

.index_posttitle_emerson a {
  text-decoration: none;
  color: pink;
  font-size: 5.5vw;
  font-family: 'Permanent Marker', cursive;
}

hr {
  width: 90%;
  margin-bottom: 2em;
  margin-top: 2em;
  border-radius: 50%;
  border-color: pink;
}

.date_emerson {
  color: #B9E5CC;
  font-family: 'Pacifico', cursive;
}

p {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.003em;
  display: inline-block;
}

.index_article_emerson {
  width: 90%;
  margin: auto;
}

/*Margin at the bottom of the page*/
main.main_emerson {
    margin-bottom: 7em;
}

.post_article_emerson {
  width: 80%;
  margin: auto;
}

h2, h3, h4, h5, h6 {
  color: #B9E5CC;
  font-family: 'Pacifico', cursive;
  text-align: center;
}
